
/* estilos para el slider inferior */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
    
}

iconify-icon {
    color: var(--dark-bg-solid);
   
    font-size:var(--font-small);
    font-weight: 700;
}
.glide__arrow-left {
    left: 0;
    
}
.glide__arrow-right {
    right: 0;
}

.slider__tittle {
    text-align:center;
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}
@media (max-width: 620px){
    .slider {
        display: none;
    }
    
}