<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop Grupo 8</title>
</head>
<body>
    <header>
        <nav>
            <picture>
                <a href="../index.html" alt="logo">
                    <img src="../images/branding/logo_light_horizontal.svg" alt="" >
                </a>
            </picture>
            <ul>
                <li>
                    <a href="./views/shop.html">SHOP</a>
                </li>
                <li>
                    <a href="./views/contact.html">CONTACTO</a>
                </li>
                <li>
                    <a href="./views/login.html">LOGIN</a>
                </li>
                <li>
                    <a href="./views/cart.html">
                        <img src="./images/icons/cart-icon.svg" alt="icono de carrito">
                    </a>
                </li>
            </ul>
        </nav>
    </header>



    <footer>
        <section>
            <nav>
                <ul>
                    <li>
                        <a href="./views/shop.html">SHOP</a>
                    </li>
                    <li>
                        <a href="./views/register.html">REGISTRARSE</a>
                    </li>
                    <li>
                        <a href="./views/login.html">LOGIN</a>
                    </li>
                    <li>
                        <a href="./views/contact.html">CONTACTO</a>
                    </li>
                </ul>
                <picture>
                    <img src="../images/branding/isotype.svg" alt="isotipo de Funkoshop">
                </picture>
            </nav>
        </section>
        <p>All Rights Reserver 2023 - Funkoshop &copy;</p>
    </footer>
    
</body>
</html>