<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav> 
            <picture>
                <a href="../index.html" alt="logo" class="logo">
                    <img src="../images/branding/logo_light_horizontal.svg" alt="" >
                </a>
            </picture>
            <ul class="nav-link">
                <li>
                    <a href="../index.html">VER TIENDA</a>
                </li>
                <li>
                    <a href="./admin.html">ADMIN</a>
                </li>
                <li>
                    <a href="../index.html">SALIR</a>
                </li>
            </ul>
        </nav>
    </header>

<footer>
    <section>
        <nav>
            <ul>
                <li>
                    <a href="./shop.html">SHOP</a>
                </li>
                <li>
                    <a href="./register.html">REGISTRARSE</a>
                </li>
                <li>
                    <a href="./login.html">LOGIN</a>
                </li>
                <li>
                    <a href="./contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../images/branding/isotype.svg" alt="isotipo de Funkoshop">
            </picture>
        </nav>
    </section>
    <p>All Rights Reserver 2023 - Funkoshop &copy;</p>
</footer>
</body>
</html>