<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/header-footer.css" />
   
    <title>Funkoshop Cart</title>
  </head>
  <body>
    <header>
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="./index.html" alt="logo">
            <img src="../images/branding/logo_light_horizontal.svg" alt="" />
          </a>
        </picture>
        <ul class="navbar__menu">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="../views/shop.html"
              >SHOP<iconify-icon  class="icon-header" icon="tabler:chevron-down"></iconify-icon
            ></a>

            <ul class="submenu">
              <li class="submenu__item">
                <a href="" class="submenu__link">Funkos</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Remeras</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Llaveros</a>
              </li>
            </ul>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="contact.html">CONTACTO</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="login.html">LOGIN</a>
          </li>
          <li class="navbar__item">
            <a href="./views/cart.html">
              <img src="../images/icons/cart-icon.svg" alt="icono de carrito" />
            </a>
          </li>
        </ul>
      </nav>
      </nav>
    </header>

    <h1>CARRITO DE COMPRAS</h1>

    <div>
      <h2>DETALLE DEL PRODUCTO</h2>

      <h2>CANTIDAD</h2>

      <h2>TOTAL</h2>
    </div>

    <div>
      <img src="../images/star-wars/baby-yoda-1.webp" />
      <h2>BABY YODA BLUEBALL</h2>
      <p>STAR WARS</p>
      <p>Precio unitario $1799,99</p>
      <!--en figma dice solo precio-->
      <input type="number" placeholder="2" />
      <button>+</button>
      <button>-</button>
      <p>$3599,99</p>
      <button><img src="../images/icons/close-icon.png" alt="" /></button>
    </div>

    <div>
      <img src="../images/pokemon/pidgeotto-1.webp" />
      <h2>PIDGEOTTO</h2>
      <p>POKEMON</p>
      <p>Precio unitario $1799,99</p>

      <input type="number" placeholder="1" />
      <button>+</button>
      <button>-</button>
      <p>$1799,99</p>
      <button><img src="../images/icons/close-icon.png" alt="" /></button>
    </div>

    <!--falta seccion de resumen del carrito-->

    <section>
      <h2>RESUMEN</h2>
      <div>
        <div>
          <p>CANTIDAD DE ELEMENTOS</p>
          <span>3</span>
        </div>
        <div>
          <p>SUBTOTAL</p>
          <span>$5.399,97</span>
        </div>
        <div>
          <p>ENVIO</p>
          <span>$0,00</span>
        </div>
        <div>
          <p>TOTAL</p>
          <span>$5.399,97</span>
        </div>
      </div>
      <button>IR A PAGAR</button>
    </section>

    <footer>
      <section>
        <nav>
          <ul>
            <li>
              <a href="shop.html">SHOP</a>
            </li>
            <li>
              <a href="register.html">REGISTRARSE</a>
            </li>
            <li>
              <a href="login.html">LOGIN</a>
            </li>
            <li>
              <a href="contact.html">CONTACTO</a>
            </li>
          </ul>
          <picture>
            <img
              src="../images/branding/isotype.svg"
              alt="isotipo de Funkoshop"
            />
          </picture>
        </nav>
      </section>
      <p>All Rights Reserved 2023 - Funkoshop &copy;</p>
    </footer>
  </body>
</html>
