<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        
        <picture>
            <a href="../index.html" alt="logo" class="logo">
                <img src="../images/branding/logo_light_horizontal.svg" alt="" >
            </a>
        </picture>

        <nav>   
        <ul class="nav-link">
            <li>
                <a href="./shop.html">SHOP</a>
            </li>
            <li>
                <a href="./contact.html">CONTACTO</a>
            </li>
            <li>
                <a href="./login.html">LOGIN</a>
            </li>
            <li>
                <a href="./cart.html">
                    <img src="../images/icons/cart-icon.svg" alt="icono de carrito">
                </a>
            </li>
        </ul>
    </nav>
</header>


    <h1>CARRITO DE COMPRAS</h1>

    <div>
        <h2>DETALLE DEL PRODUCTO</h2>

        <h2>CANTIDAD</h2>

        <h2>TOTAL</h2>
    </div>

    <div>
        <img src="../images/star-wars/baby-yoda-1.webp"/>
        <h2>BABY YODA BLUEBALL</h2>
        <p>Starwars</p>
        <p>precio $1799,99</p>
        <input type="number" placeholder="2">
        <button> +</button>
        <button> -</button>
        <p>$3599,99</p>
        <button><img src="../images/icons/close-icon.png" alt=""></button>
        
        
    </div>

    <div>
        <img src="../images/pokemon/pidgeotto-1.webp"/>
        <h2>PIDGEOTO</h2>
        <p>POKEMON</p>
        <p>Precio unitario $1799,99</p>

        <input type="number" placeholder="1">
        <button> +</button>
        <button> -</button>
        <p>$3599,99</p>
        <button><img src="../images/icons/close-icon.png" alt=""></button>
    </div>
    


    <footer>
        <section>
            <nav>
                <ul>
                    <li>
                        <a href="./shop.html">SHOP</a>
                    </li>
                    <li>
                        <a href="./register.html">REGISTRARSE</a>
                    </li>
                    <li>
                        <a href="./login.html">LOGIN</a>
                    </li>
                    <li>
                        <a href="./contact.html">CONTACTO</a>
                    </li>
                </ul>
                <picture>
                    <img src="../images/branding/isotype.svg" alt="isotipo de Funkoshop">
                </picture>
            </nav>
        </section>
        <p>All Rights Reserver 2023 - Funkoshop &copy;</p>
    </footer>
    
    
</body>
</html>