<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav> 
            <picture>
                <a href="./index.html" alt="logo" class="logo">
                    <img src="./images/branding/logo_light_horizontal.svg" alt="" >
                </a>
            </picture>
            <ul class="nav-link">
                <li>
                    <a href="./index.html">VER TIENDA</a>
                </li>
                <li>
                    <a href="./admin.html">ADMIN</a>
                </li>
                <li>
                    <a href="./index.html">SALIR</a>
                </li>
            </ul>
        </nav>
    </header>
<main>
    <h1>EDITAR ITEM</h1>
    <div class="input-container">
        <section>
            <label>Categoria: </label>
            <select>
                <option value="">Figuras</option>
            </select>
        
        
            <label>Licencia</label>
            <select>
            <option value="">Naruto Shipuden</option>
            </select>
        </section>
        
    </div>
    <section>
        <h3>Nombre del producto: </h3>
        <p>Kakashi Hatake Shippuden Saga</p>
    </section>
    <section>
        <div class="box">
            <p>Figura Funko coleccionable de Kakashi Hatake de la saga Naruto Shipudden invocando chidori.</p>
        </div>
    </section>
    <section>
        <article>
            <h3>SKU: </h3>
            <p>NAR001012</p>
            <h3>Precio: </h3>
            <h3>Stock: </h3>
            <p>10</p>

            <h3>Descuento: </h3>
            <p>10%</p>
            <h3>Cuotas: </h3>
            <select>
                <option>6 Cuotas sin interés</option>
            </select>
        </article>
    </section>
    <section>
        <h3>Imágenes</h3>
        <button>Elegir archivos</button>
        <p>No se ha seleccionado ningún archivo</p>
    </section>
    <section>
        <a href="">
            <picture>
                <img src="./images/Naruto/kakashi_hatake_front.png" alt="kakashi_front">
            </picture>
            <div>
                <h4>Frente</h4>
            </div>
            <picture>
                <img src="./images/Naruto/kakashi_hatake_back.png" alt="kakashi_back">
            </picture>
            <div>
                <h4>Dorso</h4>
            </div>
        </a>
    <section>  
        <button>Modificar Producto</button>
    </section>

</main>
<footer>
    <section>
        <nav>
            <ul>
                <li>
                    <a href="./views/shop.html">SHOP</a>
                </li>
                <li>
                    <a href="./views/register.html">REGISTRARSE</a>
                </li>
                <li>
                    <a href="./views/login.html">LOGIN</a>
                </li>
                <li>
                    <a href="./views/contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="./images/branding/isotype.svg" alt="isotipo de Funkoshop">
            </picture>
        </nav>
    </section>
    <p>All Rights Reserver 2023 - Funkoshop & Copy</p>
</footer>
</body>
</html>