<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop Edit</title>
    <link rel="stylesheet" href="../css/header-footer.css">
    <link rel="stylesheet" href="../css/edit.css"/>
</head>
<body>
    <header>
        <nav class="navbar"> 
            <picture class="navbar__logo">
                <a href="../index.html" alt="logo" class="logo">
                    <img src="../images/branding/logo_light_horizontal.svg" alt="" >
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__link" href="../index.html">VER TIENDA</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="admin.html">ADMIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="../index.html">SALIR</a>
                </li>
            </ul>
        </nav>
    </header>
<main >
    <form class="main-container">
        <h1 class="main-title">EDITAR ITEM</h1>
        <div class="input-container">
            <section class="input-container_category">
                <label class="main_text">Categoría: </label>
                <select class="main_optionbar">
                    <option value="" class="main_optionbar_text">Figuras</option>
                </select>
            </section>
            <section class="input-container_licence">
                <label class="main_text">Licencia: </label>
                <select class="main_optionbar">
                <option value="" class="main_optionbar_text">Naruto Shippuden</option>
                </select>
            </section>
            
        </div>
        <section class="description">
            <h3 class="item">Nombre del producto: </h3>
            <p class="item_name">Kakashi Hatake Shippuden Saga</p>
        </section>
        <section class="box">
            <div class="box_text">
                <textarea class="description_text" placeholder="Figura Funko coleccionable de Kakashi Hatake de la saga Naruto Shipudden invocando chidori."></textarea>
            </div>
        </section>
        <section>
            <article class="description">
                <h3 class="item">SKU: </h3>
                <p class="item_name">NAR001012</p>
                <h3 class="item">Precio: </h3>
                <p class="item_name">$ 1.799,00</p>
                <h3 class="item">Stock: </h3>
                <p class="item_name">10</p>
            </article>
            <article class="description">
                <h3 class="item">Descuento: </h3>
                <p class="item_name">10%</p>
                <h3 class="item">Cuotas: </h3>
                <select class="option_cuotas">
                    <option selected>6 Cuotas sin interés</option>
                    <option>8 Cuotas sin interés</option>
                    <option>12 Cuotas sin interés</option>
                </select>
            </article>
        </section>
        <section class="description">
            <h3 class="item">Imágenes: </h3>
            <button>Elegir archivos</button>
            <p class="item_file_text">No se ha seleccionado ningún archivo</p>
        </section>
        <section class="collection_container">
            <article class="card-item">
                <a href="" class="collection_frente">
                    <picture class="collection__cover">
                        <img src="../images/Naruto/kakashi_hatake_front.svg" alt="kakashi_front">
                    </picture>
                    <div>
                        <h4 class="collection__text">Frente</h4>
                    </div>
                </a>
                <a href="" class="collection_dorso">
                    <picture class="collection__cover">
                        <img src="../images/Naruto/kakashi_hatake_back.svg" alt="kakashi_back">
                    </picture>
                    <div>
                        <h4 class="collection__text">Dorso</h4>
                    </div>
                </a>
            </article>
        </section>
        <section class="coleccion container">
            <article class="edit_content">
                <a class="edit_button" href="./shop.html">Modificar Producto</a>
            </article>
        </section>
</form>
</main>
<footer class="footer">
    <section>
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="shop.html">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../images/branding/isotype.svg" alt="isotipo de Funkoshop">
            </picture>
        </nav>
    </section>
    <p class="footer__copy">All Rights Reserved 2023 - Funkoshop &copy;</p>
</footer>
</body>
</html>