<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop Item</title>
</head>
<body>
    <header>
        <nav>
            <picture>
                <a href="../index.html" alt="logo">
                    <img src="../images/branding/logo_light_horizontal.svg" alt="" >
                </a>
            </picture>
            <ul>
                <li>
                    <a href="./shop.html">SHOP</a>
                </li>
                <li>
                    <a href="./contact.html">CONTACTO</a>
                </li>
                <li>
                    <a href="./login.html">LOGIN</a>
                </li>
                <li>
                    <a href="./cart.html">
                        <img src="../images/icons/cart-icon.svg" alt="icono de carrito">
                    </a>
                </li>
            </ul>
        </nav>
    </header>


    <main>
        <article>
          <img src="../images/star-wars/baby-yoda-1.webp" onmouseout="this.src='../images/star-wars/baby-yoda-1.webp'" onmouseover="this.src='../images/star-wars/baby-yoda-box.webp'"  alt="baby yoda" />
          <div>
            <h4>STAR WARS</h4>
            <h1>BABY YODA BLUEBALL</h1>
            <p>
              Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga,
              edición limitada.
            </p>
            <p>$1799,99</p>
            <form>
              <input type="number" id="cantidad" value="0" min="0" />
              <div>
                <input type="button" value="+" />
                <input type="button" value="-" />
              </div>
              <input type="submit" value="Agregar al Carrito" />
            </form>
            <p><a href="#">Ver métodos de pago</a> - 3 cuotas sin interés</p>
          </div>
        </article>
        
        <section class="slider container glide">
          <h2>Productos Relacionados</h2>
          <!--esto es un carousel-->
          <div>
            <ul>
              <li>
                <article>
                  <a href="">
                    <picture>
                      <img
                        src="../images/star-wars/trooper-1.webp" onmouseout="this.src='../images/star-wars/trooper-1.webp'" onmouseover="this.src='../images/star-wars/trooper-box.webp'"
                        alt="imagen trooper-1"
                      />
                    </picture>
                    <h4>STAR WARS</h4>
                    <h3>STORMTROOPER LIGHTSABER</h3>
                    <p>$1799,99</p>
                    <p>3 Cuotas sin interés</p>
                  </a>
                </article>
              </li>
  
              <li>
                <article>
                  <a href="">
                    <picture>
                      <img
                        src="../images/pokemon/pidgeotto-1.webp" onmouseout="this.src='../images/pokemon/pidgeotto-1.webp'" onmouseover="this.src='../images/pokemon/pidgeotto-box.webp'"
                        alt="imagen pidgeotto-1"
                      />
                    </picture>
                    <h4>POKEMON</h4>
                    <h3>PIDGEOTTO</h3>
                    <p>$1799,99</p>
                    <p>3 Cuotas sin interés</p>
                  </a>
                </article>
              </li>
  
              <li>
                <article>
                  <a href="">
                    <picture>
                      <img
                        src="../images/harry-potter/luna-1.webp" onmouseout="this.src='../images/harry-potter/luna-1.webp'" onmouseover="this.src='../images/harry-potter/luna-box.webp'"
                        alt="imagen luna-1"
                      />
                    </picture>
                    <h4>HARRY POTTER</h4>
                    <h3>LUNA LOVEGOOD LION MASK</h3>
                    <p>$1799,99</p>
                    <p>3 Cuotas sin interés</p>
                  </a>
                </article>
              </li>
            </ul>
          </div>
        </section>
      </main>

    <footer>
        <section>
            <nav>
                <ul>
                    <li>
                        <a href="./shop.html">SHOP</a>
                    </li>
                    <li>
                        <a href="./register.html">REGISTRARSE</a>
                    </li>
                    <li>
                        <a href="./login.html">LOGIN</a>
                    </li>
                    <li>
                        <a href="./contact.html">CONTACTO</a>
                    </li>
                </ul>
                <picture>
                    <img src="../images/branding/isotype.svg" alt="isotipo de Funkoshop">
                </picture>
            </nav>
        </section>
        <p>All Rights Reserved 2023 - Funkoshop &copy;</p>
    </footer>
    
</body>
</html>