<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/header-footer.css" />
    <link rel="stylesheet" href="../css/index-main.css" />
    <link rel="stylesheet" href="../css/item.css" />
    <title>Funkoshop Grupo 8</title>
  </head>
  <body>
    <header>
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="../index.html" alt="logo">
            <img src="../images/branding/logo_light_horizontal.svg" alt="" />
          </a>
        </picture>
        <ul class="navbar__menu">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="./views/shop.html"
              >SHOP<iconify-icon
                class="icon-header"
                icon="tabler:chevron-down"
              ></iconify-icon
            ></a>

            <ul class="submenu">
              <li class="submenu__item">
                <a href="" class="submenu__link">Funkos</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Remeras</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Llaveros</a>
              </li>
            </ul>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="./views/contact.html">CONTACTO</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="./views/login.html">LOGIN</a>
          </li>
          <li class="navbar__item">
            <a href="./views/cart.html">
              <img src="../images/icons/cart-icon.svg" alt="icono de carrito" />
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="container contenedor">
        <h1 class="titulo-form centrar-txt">INGRESAR A MI CUENTA</h1>
        <form class="contenido-formulario--centro">
            <div class="casilla__formulario">
                <label class="formulario__label" for="mail">Email:</label>
                <input class="formulario__input" type="email" id="mail" placeholder="grupo8@correo.com">
            </div>
            <div class="casilla__formulario">
                <label class="formulario__label" for="password">Contraseña:</label>
                <input class="formulario__input" type="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
            </div>
            <div class="casilla__formulario__submit">
                <input class="btn_rojo rectangula-g" type="submit" value="Ingresar">
                <div class="recordame">
                  <input type="checkbox" id="recordame">
                  <label for="recordame">Recordarme</label>
                </div>
            </div>
        </form>
        <p class="txt-azul-fino" href="#"><a href="#">Olvidé mi contraseña</a></p>
    </main>

    <footer class="footer">
      <nav class="navbar container">
        <ul class="navbar__item">
          <li class="navbar__item">
            <a class="navbar__link" href="./views/shop.html">SHOP</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="./views/register.html">REGISTRARSE</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="./views/login.html">LOGIN</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="./views/contact.html">CONTACTO</a>
          </li>
        </ul>
        <picture>
          <img
            src="../images/branding/isotype.svg"
            alt="isotipo de Funkoshop"
          />
        </picture>
      </nav>

      <p class="footer__copy">All Rights Reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </body>
</html>