<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!--Header-->
    <header>
        
        <picture>
            <a href="../index.html" alt="logo" class="logo">
                <img src="../images/branding/logo_light_horizontal.svg" alt="" >
            </a>
        </picture>

        <nav>   
        <ul class="nav-link">
            <li>
                <a href="../index.html">VER TIENDA</a>
            </li>
            <li>
                <a href="./admin.html">ADMIN</a>
            </li>
            <li>
                <a href="../index.html">SALIR</a>
            </li>
        </ul>
    </nav>
</header>
    
    <!--END HEADER-->

      <!--MAIN-->

        <h1>Crea tu Cuenta</h1>

            <div class="input-container">

                <input type="text" placeholder="Nombre">

                <input type="text" placeholder="Apellido">

                <input type="text" placeholder="Email">

                <input type="text" placeholder="Contraseña">

                <input type="text" placeholder="Repita Contraseña">

            </div>

            <div class="register-button-container">

                <button>Registrar</button>   

                <input type="checkbox" > <p>Acepto <a href="#">Terminos y Condiciones</a></p>


            </div>



        <!--END MAIN-->

        <!--FOOTER-->

        <footer>
            <section>
                <nav>
                    <ul>
                        <li>
                            <a href="./shop.html">SHOP</a>
                        </li>
                        <li>
                            <a href="./register.html">REGISTRARSE</a>
                        </li>
                        <li>
                            <a href="./login.html">LOGIN</a>
                        </li>
                        <li>
                            <a href="./contact.html">CONTACTO</a>
                        </li>
                    </ul>
                    <picture>
                        <img src="../images/branding/isotype.svg" alt="isotipo de Funkoshop">
                    </picture>
                </nav>
            </section>
            <p>All Rights Reserver 2023 - Funkoshop &copy;</p>
        </footer>

        <!--END FOOTER-->

</body>
</html>