<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop Register</title>
    <link rel="stylesheet" href="../css/header-footer.css" />
   
  <link rel="stylesheet" href="../css/register.css"/>



</head>
<body>
    <!--Header-->
    <header>
        
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="./index.html" alt="logo">
            <img src="../images/branding/logo_light_horizontal.svg" alt="" />
          </a>
        </picture>
        <ul class="navbar__menu">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="../views/shop.html"
              >SHOP<iconify-icon  class="icon-header" icon="tabler:chevron-down"></iconify-icon
            ></a>

            <ul class="submenu">
              <li class="submenu__item">
                <a href="" class="submenu__link">Funkos</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Remeras</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Llaveros</a>
              </li>
            </ul>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="./views/contact.html">CONTACTO</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="./views/login.html">LOGIN</a>
          </li>
          <li class="navbar__item">
            <a href="./views/cart.html">
              <img src="../images/icons/cart-icon.svg" alt="icono de carrito" />
            </a>
          </li>
        </ul>
      </nav>
</header>
    
    <!--END HEADER-->

      <!--MAIN-->

      <main class="main-container">
      
      <div class="input-container">
                <div class="tittle-input">
                <h1>CREA TU CUENTA</h1>
                <p>Completa el formulario para ser parte del mundo de los Funkos</p>
                </div>  

                <div class="input-box">          
                          <label class="input-box">Nombre</label>
                    <input type="text" placeholder="Nombre">
                </div>

                <div class="input-box">
                    <label>Apellido</label>
                    <input type="text" placeholder="Apellido">
                </div>

                <div class="input-box"><label>Email</label>
                    <input type="text" placeholder="Email">
                </div>

                <div class="input-box">
                    <label>Contraseña:</label>
                    <input type="text" placeholder="Contraseña">
                </div>

                <div class="input-box">
                    <label>Repita contraseña:</label>
                    <input type="text" placeholder="Repita Contraseña">
                </div>

                

            </div>

            <div class="register-button-container">

                <button>Registrar</button>   

                <input type="checkbox" > <p>Acepto <a href="#">Términos y Condiciones</a></p>


            </div>

        </main>

        <!--END MAIN-->

        <!--FOOTER-->

        <footer class="footer">
            <nav class="navbar container">
              <ul class="navbar__item">
                <li class="navbar__item">
                  <a class="navbar__link" href="./views/shop.html">SHOP</a>
                </li>
                <li class="navbar__item">
                  <a class="navbar__link" href="./views/register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                  <a class="navbar__link" href="./views/login.html">LOGIN</a>
                </li>
                <li class="navbar__item">
                  <a class="navbar__link" href="./views/contact.html">CONTACTO</a>
                </li>
              </ul>
              <picture>
                <img src="../images/branding/isotype.svg" alt="isotipo de Funkoshop" />
              </picture>
            </nav>
        
            <p class="footer__copy">All Rights Reserved 2023 - Funkoshop &copy;</p>
          </footer>
        

        <!--END FOOTER-->

</body>
</html>