

.loupe {
    width: 30.8px;
    height: 30.76px;
    margin: 10px;
}

.input {
  width: 430px;
  height: 44px;
  margin: 20px 30px;
  
}
.agregar__add {
    margin-left: 30px;
    width: 50%;
}
.agregar__text {
    font-size: 2.4rem;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
      
}

.main-container {
    margin-left: 110px;
    width: 1120px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;


}

h1 {
    font-size: 42px;
}

.item-list {
    width: 1126px;
    height: 928,95px;
    font-weight:500;
    font-size: 24px;
    line-height: 60.85px;
    letter-spacing: 4%;
}


.add-container{
/* Group 63 */
display: flex;
width: 198px;
height: 52px;
left: 1038px;
top: 260.28px;
align-items: center;
justify-content: end;
font-weight: 700;
font-size: 24px;
line-height: 29,05px;
letter-spacing: 4%;
align-items: right;
}

.product-list-tittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .product__icon  {
    width: 60%;
}


@media (max-width: 802px){
    .container {
      flex-direction: column;

    }
    h1 {
    font-size: 24px;
    margin-left: 15px;
    }
   .item-list {
    font-size: 12px;
    line-height: 30.85px;
    letter-spacing: 2%;
    width: 802px;
    margin-left: 10px;
    }
    .product__icon  {
        width: 30%;
    }
    .add-container{
       font-size: 12px;
       line-height: 9,05px;
       letter-spacing: 2%;
    }
    .agregar__text {
        font-size: 1.4rem;
    }
    .agregar__add {
        margin-left: 20px;
        width: 25%;
    }
    .product-list-tittle{
        width: 800px;
    }
  }
  @media (max-width: 412px){
    
    .item-list {    
        width: 412px;  
        margin-left: 10px;
        font-size: 10px;
        }
    h1 {
        font-size: 12px;
        }
        .agregar__text {
            font-size: 1rem;
        }
        .agregar__add {
            margin-left: 10px;
            width: 20%;
        }
        .product-list-tittle{
            width: 400px;
        }
  }