

container {
    max-width: 1200px;
    margin: 0 auto;
}
.cart__box {
    display: flex;
    flex-direction: column; 
    align-items: start;
}

.cart__tittle {
    font-family: var(--alternative-font);
   font-size: var(--font-display);
    font-weight: 500;
    margin-top: 122px;
    margin-left: 110px;
    width: 530px;
 
}
.cart__text {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--rojo);
    padding-bottom: var(--spacing-20);
    margin-left: 110px;
    width: 530px;
    margin-bottom: 100px;

}
.nav__detalle{
    display:flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FaFaFf;;
    height: 51px;
    padding: 0px 100px;
    border-radius: 10px;
    border: 2px solid #aFaFaF;
}
.card__detalle {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FaFaFf;;
    height: var(--spacing-128);
    margin-top: var(--spacing-20);
    padding: 0px 100px;
    border-radius: 20px;
    border: 2px solid #aFaFaF;
}
.card__image {
    width: 40px;
}

.cart__card-close {
    color: red;
    padding: 4px;
    font-size: var(--font-xsmall);   
}
.card__image-button {
    border-radius: 50%;
    border: 2px solid red;
}
.cart__resumen-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}
.cart__resumen {
    font-size: var(--font-medium);
    margin: 20px 0 ;
    align-self: flex-end;
}
.cart__nav-detalle {
    margin-left:100px;
}
.cart__nav-cantidad {
    margin-left: -20px;
}
.cart__nav-total {
   margin-right:80px;
}

.resumen__detalle {
    align-self: flex-end;
    background-color: #FaFaFf;;
    height: var(--spacing-128);
    width: 400px;
    height: 150px;
    margin-top: var(--spacing-20);
    padding-top: 8px;
    border-radius: 10px;
    border: 2px solid #aFaFaF;
  
}
.resumen__item { 

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
  padding-left: 10px;
    padding:  4px 20px 4px 20px;
   
}
.resumen__item-p {
    display: flex;
    font-size: var(--font-small);
    font-weight: 900;   
   }

.cart__pagar {
    align-self: flex-end;
}
.cart__btn-pagar{ 
    margin: 10px 0 10px 0;
    width: 400px;
    border: none;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    transition: background 0.2s ease-in-out;
    padding: var(--spacing-12) var(--spacing-28);
    font-weight: 900;
}
.cart__card-cantidad {
    display: flex;
    flex-direction: row;
}
   
.cart__item-cantidad {
    width: 50px;
    height: 44px;
    font-size: var(--font-small);
    font-weight: 900;
    text-align: center;
}
.cart__sum-rest {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}
.cart__btn-sum-rest {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    width: 15px;
    border-color: var(--primary-solid);
    margin-bottom: 5px;
}

@media (max-width: 802px){
    .cart__box{ 
      font-size: var(--font-small);
    }
    .cart__tittle, .cart__text {
        margin: auto;
        width: 400px;
        text-align: center;
    }
    .cart__text {
        margin-bottom: var(--spacing-28);
    }
    .resumen__detalle {
        margin: auto;
    }
    .description_text {
        width: 100%;  
    }
    .nav__detalle {
        height: var(--spacing-128);
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
    .card__detalle {
        height: 256px;  
        margin-bottom: var(--spacing-20);
    }
    .cart__nav-detalle, .cart__nav-total, .cart__nav-cantidad{
        text-align: center;
        margin: 0;
    }
    .cart__resumen, .cart__pagar{
        margin: auto;
        margin-bottom: var(--spacing-28);
        margin-top: var(--spacing-28);
    }
 
   
}
@media (max-width: 412px){
    .cart__resumen {
        text-align: center;
    }
 
}