/** PAGINA ITEM **/
/* ARTICULO ITEM*/
.item__img{
    max-width: 90%;
}

.item .item__titulo{
    font-family: var(--fuentePrincipal);
    font-weight: var(--bold);
    color: var(--negro);
    font-size: var(--font-jumbo);
    margin-bottom: var(--spacing-16);
}
.item .item__subTitulo{
    font-family: var(--fuentePrincipal);
    font-weight: var(--medium);
    color: var(--gris);
    font-size: var(--font-small);
    margin-bottom: var(--spacing-8);
}
.item .item__parrafo{
    font-family: var(--fuentePrincipal);
    font-weight: var(--regular);
    color: var(--gris);
    font-size: var(--font-large);
    margin-bottom: var(--spacing-16);
}
.item .item__precio{
    font-family: var(--fuentePrincipal);
    font-weight: var(--regular);
    color: var(--gris);
    font-size: var(--font-jumbo);
    margin-bottom: var(--spacing-20);
}

.item .item__form{
    display: flex;
    margin-bottom: var(--spacing-28);;
    >input{
        width: 9rem;
        height: 4rem;
        text-align: center;
        font-family: var(--fuentePrincipal);
        font-weight: var(--regular);
        color: var(--gris);
        font-size: var(--font-large);
        margin-right: 1rem;    
    }
}
.btn_rojo{
    background-color: var(--rojo);
    border: none;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-weight: var(--light);
    font-size: var(--font-medium);
    &:hover{
        cursor: pointer;
        background-color: var(--azul);
    }
}

.rectangula-g{
    padding: var(--spacing-12) var(--spacing-28);
}
.rectangula-ch{
    padding: var(--spacing-8) var(--spacing-16);
}

.item .item__form .item__from__btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    #add, #subtract{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--gris-claro);
        font-family: var(--fuentePrincipal);
        font-weight: var(--light);
        color: var(--blanco);
        font-size: var(--font-medium);
        border: none;
        width: 2rem;
        height: 1.8rem;
        &:hover{
            cursor: pointer;
        }
    }
}
.card-item__promo>a{
    text-decoration: underline 2px;
}

/* FIN ESTILOS ARTICULO ITEM */

/** PAGINA LOGIN **/
.container {
    max-width: 1200px;
    margin: 0 auto;  
}

.titulo-form{  
    margin: var(--spacing-36) 0;
    
    text-align: center;
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}
.centrar-txt{
    text-align: center;
}

.contenido-formulario--centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-36);
    margin: auto;
}

.contenido-formulario--latizq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-20);
   
}

.contenido-formulario--centro .casilla__formulario{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: var(--spacing-12);
}

.espacio__form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-20);
    gap: var(--spacing-16);
}

.formulario__label{
    font-family: var(--fuentePrincipal);
    font-weight: var(--regular);
    color: var(--negro);
    font-size: var(--font-large);
}

.formulario__label__ligth{
    font-family: var(--fuentePrincipal);
    font-weight: var(--light);
    color: var(--negro);
    font-size: var(--font-large);
}

.formulario__input{
    border: none;
    border-bottom: 2px solid var(--rojo);
    padding: 1rem .5rem;
    font-family: var(--fuentePrincipal);
    font-weight: var(--regular);
    color: var(--negro);
    font-size: var(--font-medium);
}

.wl{
    width: 50%;
}
.wm{
    width: 13rem;
    margin-right: 3rem;
}
.ws{
    width: 5rem;
    text-align: right;
}

#descuento{
    margin-right: 2rem;
}

.contenido-formulario--centro .casilla__formulario__submit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-16);
    .recordame{
        display: flex;
        align-items: center;
        gap: var(--spacing-8);
        font-family: var(--fuentePrincipal);
        font-weight: var(--regular);
        color: var(--negro-claro);
        font-size: var(--font-medium);
    }
}

.form__select{
    border: 2px solid var(--negro);
    border-radius: 5px;
    width: 60%;
    padding: 1rem 1rem;
    font-family: var(--fuentePrincipal);
    font-weight: var(--medium);
    color: var(--gris-claro);
    font-size: var(--font-medium);
    &:invalid{
        color: var(--gris-mas-claro);
    }
    
}



.prueba{
    width: 80%;
}

#opcion{
    color: #b9b9b9;
}

.txt-azul-fino{
    font-family: var(--fuenteSecundaria);
    font-weight: var(--regular);
    font-size: var(--font-small);
    text-align: center;
    color: var(--azul);
    margin: 0 auto;
    margin: var(--spacing-28) 0 var(--spacing-36);
}

#limpiar{
    margin-left: var(--spacing-28);
    padding: 0.8rem 5.2rem;
}

textarea{
    width: 83rem;
    height: 20rem;
    padding: var(--spacing-8);
    font-family: var(--fuentePrincipal);
    font-weight: var(--regular);
    color: var(--gris-claro);
    font-size: var(--font-medium);
    border-radius: 0.8rem;
}

.txt__subtitulo{
    font-family: var(--fuentePrincipal);
    font-weight: var(--regular);
    font-size: var(--font-medium);
    margin: var(--spacing-12) 0 var(--spacing-68);
}

.txt__apoyo{
    font-family: var(--fuenteSecundaria);
    font-size: var(--font-small);
    font-weight: var(--regular);
}

.mb-1{
    margin: 0;
}



@media (max-width: 802px){
    .container{
        justify-content: center;
        gap: var(--spacing-20);
        margin: auto;
    }
    .espacio__form{
       display: table-column; 
       margin-left: 0px; 
       margin-bottom: var(--spacing-20);
       width: auto;
    }
  
    #descripcion {
        width: auto;
    }
    .formulario__input {
        font-size: var(--font-small);
    }
    .form1__label {
        margin-top: 20px;
      
    }
  
    .form1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;    
    }
   
}
@media (max-width: 412px){
    .container{
      font-size: var(--font-xsmall);
      padding: 0 ;
      padding-bottom: 15px;
     
    }
    .titulo-form{
        font-size: 32px;
    }
    #descripcion {
        width:400px;
    }
   
    .espacio__form{
  
        font-size: 8px; 
    }
  
 
}
