
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tittle-input {
    margin-top: 10px;
    margin-bottom: 70px;
    text-align: center;

}

.tittle-input h1 {
    font-size: 42px;
}

.tittle-input p  {
    font-size: 32px;
}

.input-container{
    background-color: red;
    height: 526px;
    width: 1023px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;  
    font-size: 24px; 
}

.input-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 2px;
    width:455px;
}

