<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
  
    <link rel="stylesheet" href="../css/edit.css"/>
</head>
<body>
    <header>
        <%- include('partials/headerAdmin.ejs') %>
    </header>
<main >
    <form class="container">
        <h1 class="main-title">EDITAR ITEM</h1>
        <div class="input-container">
            <section class="input-container_category">
                <label class="main_text">Categoría: </label>
                <select class="main_optionbar">
                    <option value="" class="main_optionbar_text">Figuras</option>
                </select>
            </section>
            <section class="input-container_licence">
                <label class="main_text">Licencia: </label>
                <select class="main_optionbar">
                <option value="" class="main_optionbar_text">Naruto Shippuden</option>
                </select>
            </section>
            
        </div>
        <section class="description">
            <h3 class="item">Nombre del producto: </h3>
            <p class="item_name">Kakashi Hatake Shippuden Saga</p>
        </section>
        <section class="">
            <div class="">
                <textarea class="description_text" placeholder="Figura Funko coleccionable de Kakashi Hatake de la saga Naruto Shipudden invocando chidori."></textarea>
            </div>
        </section>
        <section>
            <article class="description">
                <h3 class="item">SKU: </h3>
                <p class="item_name">NAR001012</p>
                <h3 class="item">Precio: </h3>
                <p class="item_name">$ 1.799,00</p>
                <h3 class="item">Stock: </h3>
                <p class="item_name">10</p>
            </article>
            <article class="description">
                <h3 class="item">Descuento: </h3>
                <p class="item_name">10%</p>
                <h3 class="item">Cuotas: </h3>
                <select class="option_cuotas">
                    <option selected>6 Cuotas sin interés</option>
                    <option>8 Cuotas sin interés</option>
                    <option>12 Cuotas sin interés</option>
                </select>
            </article>
        </section>
        <section class="description">
            <h3 class="item">Imágenes: </h3>
            <button>Elegir archivos</button>
            <p class="item_file_text">No se ha seleccionado ningún archivo</p>
        </section>
        <section class="collection_container">
            <article class="card-item">
                <a href="" class="collection_frente">
                    <picture class="collection__cover">
                        <img src="../images/Naruto/kakashi_hatake_front.svg" alt="kakashi_front">
                    </picture>
                    <div>
                        <h4 class="collection__text">Frente</h4>
                    </div>
                </a>
                <a href="" class="collection_dorso">
                    <picture class="collection__cover">
                        <img src="../images/Naruto/kakashi_hatake_back.svg" alt="kakashi_back">
                    </picture>
                    <div>
                        <h4 class="collection__text">Dorso</h4>
                    </div>
                </a>
            </article>
        </section>
        <section class="coleccion">
            <article class="edit_content">
                <a class="edit_button" href="./shop.html">Modificar Producto</a>
            </article>
        </section>
</form>
</main>
<footer class="footer">
    <%- include('partials/footer.ejs') %>
</footer>
</body>
</html>