<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../public/css/shop.css" />
  <link rel="stylesheet" href="../../public/css/header-footer.css" />


  <title>Funkoshop Shop</title>
</head>

<body>
  <!--HEADER-->
  <header>
     
    <nav class="navbar container">
      <picture class="navbar__logo">
        <a href="../index.html" alt="logo">
          <img src="../../images/branding/logo_light_horizontal.svg" alt="" />
        </a>
      </picture>
      <ul class="navbar__menu">
        <li class="navbar__item with-submenu">
          <a class="navbar__link with-icon" href="shop.html"
            >SHOP<iconify-icon  class="icon-header" icon="tabler:chevron-down"></iconify-icon
          ></a>

          <ul class="submenu">
            <li class="submenu__item">
              <a href="" class="submenu__link">Funkos</a>
            </li>
            <li class="submenu__item">
              <a href="" class="submenu__link">Remeras</a>
            </li>
            <li class="submenu__item">
              <a href="" class="submenu__link">Llaveros</a>
            </li>
          </ul>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="contact.html">CONTACTO</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="login.html">LOGIN</a>
        </li>
        <li class="navbar__item">
          <a href="./views/cart.html">
            <img src="../../public/images/icons/cart-icon.svg" alt="icono de carrito" />
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <!--FIN HEADER-->
  <!--SHOP-->
  <main id="shop">
    <!--CONTAINER1_FILTROS_BUSQUEDA-->
    <section class="filtros">
      <form>
        <div class="filtro-nombre">
          <label class="buscar_por_item">BUSCAR</label>
          <input type="text" id="busqueda" placeholder="item o categoria" />
        </div>
        <div class="filtro-orden">
          <label class="ordenar-por">ORDENAR POR</label>
          <select id="dropdown" name="dropdown">
            <option value="a-z">A-Z</option>
            <option value="z-a">Z-A</option>
            <option value="mayorprecio">Mayor precio</option>
            <option value="menorprecio">Menor precio</option>
          </select>
        </div>
        <div class="filtro-precio">
          <label for="filtro-precio">PRECIO</label>
          <label for="precio-min">MIN</label>
          <input type="number" id="minimo" min="0" placeholder="0" />
          <label for="precio-max">- MAX</label>
          <input type="number" id="maximo" min="0" placeholder="0" />
        </div>
        <div class="filtro-categoria">
          <label for="filtro-categoria">FILTRAR</label>
          <input type="checkbox" name="filtro" />
          <label for> NUEVOS</label>
          <input type="checkbox" name="filtro" />
          <label for> OFERTAS</label>
          <input type="checkbox" name="filtro" />
          <label for> EDICIÓN ESPECIAL</label>
          <input type="checkbox" name="filtro" />
          <label for> FAVORITOS</label>
        </div>
      </form>
    </section>
    <!--CONTAINER2_CATALOGO-->

    <div class="contenido">
      <section class="catalogo">
        <li class="item">
          <article class="card-item">
            <a class="card-item__link" href="">
              <picture class="card-item__cover">
                <span class="card-item__tag">NUEVO</span>
                <img class="card-item__img--front" src="../../public/images/star-wars/trooper-1.webp" alt="imagen trooper-1" />

              </picture>
              <div class="card-item__content">
                <h4 class="card-item__licence">STAR WARS</h4>
                <h3 class="card-item__name">STORMTROOPER LIGHTSABER</h3>
                <p class="card-item__price">$1799,99</p>
                <p class="card-item__promo">3 Cuotas sin interés</p>
              </div>
            </a>
          </article>
        </li>

        <li class="item">
          <article class="card-item">
            <a class="card-item__link" href="">
              <picture class="card-item__cover">
                <span class="card-item__tag">NUEVO</span>
                <img class="card-item__img--front" src="../../images/pokemon/pidgeotto-1.webp"
                  alt="imagen pidgeotto-1" />
              </picture>
              <div class="card-item__content">
                <h4 class="card-item__licence">POKEMON</h4>
                <h3 class="card-item__name">PIDGEOTTO</h3>
                <p class="card-item__price">$1799,99</p>
                <p class="card-item__promo">3 Cuotas sin interés</p>
              </div>
            </a>
          </article>
        </li>

        <li class="item">
          <article class="card-item">
            <a href="">
              <picture class="card-item__cover">
                <span class="card-item__tag">NUEVO</span>
                <img class="card-item__img--front" src="../../images/harry-potter/luna-1.webp" alt="luna-1" />
              </picture>
              <div class="card-item__content">
                <h4 class="card-item__licence">HARRY POTTER</h4>
                <h3 class="card-item__name">LUNA LOVEGOOD LION MASK</h3>
                <p class="card-item__price">$1799,99</p>
                <p class="card-item__promo">3 Cuotas sin interés</p>
              </div>
            </a>
          </article>
        </li>

        <li class="item">
          <article class="card-item">
            <a class="card-item__link" href="">
              <picture class="card-item__cover">
                <span class="card-item__tag">NUEVO</span>
                <img class="card-item__img--front" src="../../images/star-wars/trooper-1.webp" alt="imagen trooper-1" />

              </picture>
              <div class="card-item__content">
                <h4 class="card-item__licence">STAR WARS</h4>
                <h3 class="card-item__name">STORMTROOPER LIGHTSABER</h3>
                <p class="card-item__price">$1799,99</p>
                <p class="card-item__promo">3 Cuotas sin interés</p>
              </div>
            </a>
          </article>
        </li>

        <li class="item">
          <article class="card-item">
            <a class="card-item__link" href="">
              <picture class="card-item__cover">
                <span class="card-item__tag">NUEVO</span>
                <img class="card-item__img--front" src="../../images/pokemon/pidgeotto-1.webp"
                  alt="imagen pidgeotto-1" />
              </picture>
              <div class="card-item__content">
                <h4 class="card-item__licence">POKEMON</h4>
                <h3 class="card-item__name">PIDGEOTTO</h3>
                <p class="card-item__price">$1799,99</p>
                <p class="card-item__promo">3 Cuotas sin interés</p>
              </div>
            </a>
          </article>
        </li>

        <li class="item">
          <article class="card-item">
            <a href="">
              <picture class="card-item__cover">
                <span class="card-item__tag">NUEVO</span>
                <img class="card-item__img--front" src="../../images/harry-potter/luna-1.webp" alt="luna-1" />
              </picture>
              <div class="card-item__content">
                <h4 class="card-item__licence">HARRY POTTER</h4>
                <h3 class="card-item__name">LUNA LOVEGOOD LION MASK</h3>
                <p class="card-item__price">$1799,99</p>
                <p class="card-item__promo">3 Cuotas sin interés</p>
              </div>
            </a>
          </article>
        </li>

        <li class="item">
          <article class="card-item">
            <a class="card-item__link" href="">
              <picture class="card-item__cover">
                <span class="card-item__tag">NUEVO</span>
                <img class="card-item__img--front" src="../../images/star-wars/trooper-1.webp" alt="imagen trooper-1" />

              </picture>
              <div class="card-item__content">
                <h4 class="card-item__licence">STAR WARS</h4>
                <h3 class="card-item__name">STORMTROOPER LIGHTSABER</h3>
                <p class="card-item__price">$1799,99</p>
                <p class="card-item__promo">3 Cuotas sin interés</p>
              </div>
            </a>
          </article>
        </li>

        <li class="item">
          <article class="card-item">
            <a class="card-item__link" href="">
              <picture class="card-item__cover">
                <span class="card-item__tag">NUEVO</span>
                <img class="card-item__img--front" src="../../images/pokemon/pidgeotto-1.webp"
                  alt="imagen pidgeotto-1" />
              </picture>
              <div class="card-item__content">
                <h4 class="card-item__licence">POKEMON</h4>
                <h3 class="card-item__name">PIDGEOTTO</h3>
                <p class="card-item__price">$1799,99</p>
                <p class="card-item__promo">3 Cuotas sin interés</p>
              </div>
            </a>
          </article>
        </li>

        <li class="item">
          <article class="card-item">
            <a href="">
              <picture class="card-item__cover">
                <span class="card-item__tag">NUEVO</span>
                <img class="card-item__img--front" src="../../images/harry-potter/luna-1.webp" alt="luna-1" />
              </picture>
              <div class="card-item__content">
                <h4 class="card-item__licence">HARRY POTTER</h4>
                <h3 class="card-item__name">LUNA LOVEGOOD LION MASK</h3>
                <p class="card-item__price">$1799,99</p>
                <p class="card-item__promo">3 Cuotas sin interés</p>
              </div>
            </a>
          </article>
        </li>


        <!-- <section class="fila-de-cards">
          <ul class="card-items">
            <article>
              <a href="">
                <li class="item1" id="starwars1">
                  <picture>
                    <img
                      src="../images/star-wars/trooper-1.webp"
                      alt="funko de STORMTROOPER"
                    />
                  </picture>
                  <p>STAR WARS</p>
                  <h3>STORMTROOPER LIGHTSABER</h3>
                  <p>$1799,99</p>
                  <small> 3 CUOTAS SIN INTERES</small>
                </li>
              </a>
            </article>
            <article>
              <a href="">
                <li class="item2" id="pokemon1">
                  <picture>
                    <img
                      src="../images/pokemon/pidgeotto-1.webp"
                      alt="funko de PIDGEOTTO"
                    />
                  </picture>
                  <p>POKEMON</p>
                  <h3>PIDGEOTTO</h3>
                  <p>$1799,99</p>
                  <small> 3 CUOTAS SIN INTERES</small>
                </li>
              </a>
            </article>
            <article>
              <a href="">
                <li class="item3" id="harrypotter1">
                  <picture>
                    <img
                      src="../images/harry-potter/luna-1.webp"
                      alt="funko de LUNA LOVEGOOD LION MASK"
                    />
                  </picture>
                  <p>HARRY POTTER</p>
                  <h3>LUNA LOVEGOOD LION MASK</h3>
                  <p>$1799,99</p>
                  <small> 3 CUOTAS SIN INTERES</small>
                </li>
              </a>
            </article>
          </ul>
        </section>
        <section class="fila-de-cards">
          <ul class="card-items">
            <article>
              <a href="">
                <li class="item1" id="starwars1">
                  <picture>
                    <img
                      src="../images/star-wars/trooper-1.webp"
                      alt="funko de STORMTROOPER"
                    />
                  </picture>
                  <p>STAR WARS</p>
                  <h3>STORMTROOPER LIGHTSABER</h3>
                  <p>$1799,99</p>
                  <small> 3 CUOTAS SIN INTERES</small>
                </li>
              </a>
            </article>
            <article>
              <a href="">
                <li class="item2" id="pokemon1">
                  <picture>
                    <img
                      src="../images/pokemon/pidgeotto-1.webp"
                      alt="funko de PIDGEOTTO"
                    />
                  </picture>
                  <p>POKEMON</p>
                  <h3>PIDGEOTTO</h3>
                  <p>$1799,99</p>
                  <small> 3 CUOTAS SIN INTERES</small>
                </li>
              </a>
            </article>
            <article>
              <a href="">
                <li class="item3" id="harrypotter1">
                  <picture>
                    <img
                      src="../images/harry-potter/luna-1.webp"
                      alt="funko de LUNA LOVEGOOD LION MASK"
                    />
                  </picture>
                  <p>HARRY POTTER</p>
                  <h3>LUNA LOVEGOOD LION MASK</h3>
                  <p>$1799,99</p>
                  <small> 3 CUOTAS SIN INTERES</small>
                </li>
              </a>
            </article>
          </ul>
        </section>
        <section class="fila-de-cards">
          <ul class="card-items">
            <article>
              <a href="">
                <li class="item1" id="starwars1">
                  <picture>
                    <img
                      src="../images/star-wars/trooper-1.webp"
                      alt="funko de STORMTROOPER"
                    />
                  </picture>
                  <p>STAR WARS</p>
                  <h3>STORMTROOPER LIGHTSABER</h3>
                  <p>$1799,99</p>
                  <small> 3 CUOTAS SIN INTERES</small>
                </li>
              </a>
            </article>
            <article>
              <a href="">
                <li class="item2" id="pokemon1">
                  <picture>
                    <img
                      src="../images/pokemon/pidgeotto-1.webp"
                      alt="funko de PIDGEOTTO"
                    />
                  </picture>
                  <p>POKEMON</p>
                  <h3>PIDGEOTTO</h3>
                  <p>$1799,99</p>
                  <small> 3 CUOTAS SIN INTERES</small>
                </li>
              </a>
            </article>
            <article>
              <a href="">
                <li class="item3" id="harrypotter1">
                  <picture>
                    <img
                      src="../images/harry-potter/luna-1.webp"
                      alt="funko de LUNA LOVEGOOD LION MASK"
                    />
                  </picture>
                  <p>HARRY POTTER</p>
                  <h3>LUNA LOVEGOOD LION MASK</h3>
                  <p>$1799,99</p>
                  <small> 3 CUOTAS SIN INTERES</small>
                </li>
              </a>
            </article>
          </ul>
        </section> -->
      </section>
      <div class="centrado">

        <div
          style="width: 100%; height: 100%; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="width: 44px; height: 44px; justify-content: center; align-items: center; display: flex">
            <div
              style="flex: 1 1 0; align-self: stretch; padding: 5.50px; opacity: 0.50; background: #919EAB; border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
              <div
                style="width: 33px; height: 33px; justify-content: center; align-items: center; display: inline-flex">
                <div
                  style="width: 33px; height: 33px; position: relative; transform: rotate(90deg); transform-origin: 0 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                  <div style="width: 16.50px; height: 10.19px; background: #C4CDD5"></div>
                </div>
              </div>
            </div>
          </div>
          <div style="width: 44px; height: 44px; justify-content: center; align-items: center; display: flex">
            <div
              style="flex: 1 1 0; align-self: stretch; padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: white; border-radius: 4px; overflow: hidden; border: 1px #FF3333 solid; justify-content: center; align-items: center; display: inline-flex">
              <div
                style="width: 36px; height: 34px; text-align: center; color: #FF3333; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 20px; word-wrap: break-word">
                1</div>
            </div>
          </div>
          <div style="width: 44px; height: 44px; justify-content: center; align-items: center; display: flex">
            <div
              style="flex: 1 1 0; align-self: stretch; background: white; border-radius: 4px; overflow: hidden; border: 1px #DFE3E8 solid; justify-content: center; align-items: center; display: inline-flex">
              <div
                style="text-align: center; color: #212B36; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">
                2</div>
            </div>
          </div>
          <div style="width: 44px; height: 44px; justify-content: center; align-items: center; display: flex">
            <div
              style="flex: 1 1 0; align-self: stretch; padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: white; border-radius: 4px; overflow: hidden; border: 1px #DFE3E8 solid; justify-content: center; align-items: center; display: inline-flex">
              <div
                style="width: 36px; height: 34px; text-align: center; color: #212B36; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 20px; word-wrap: break-word">
                ...</div>
            </div>
          </div>
          <div style="width: 44px; height: 44px; justify-content: center; align-items: center; display: flex">
            <div
              style="flex: 1 1 0; align-self: stretch; padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: white; border-radius: 4px; overflow: hidden; border: 1px #DFE3E8 solid; justify-content: center; align-items: center; display: inline-flex">
              <div
                style="width: 36px; height: 34px; text-align: center; color: #212B36; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 20px; word-wrap: break-word">
                9</div>
            </div>
          </div>
          <div style="width: 44px; height: 44px; justify-content: center; align-items: center; display: flex">
            <div
              style="flex: 1 1 0; align-self: stretch; padding-left: 4px; padding-right: 4px; padding-top: 5px; padding-bottom: 5px; background: white; border-radius: 4px; overflow: hidden; border: 1px #DFE3E8 solid; justify-content: center; align-items: center; display: inline-flex">
              <div
                style="width: 36px; height: 34px; text-align: center; color: #212B36; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 20px; word-wrap: break-word">
                10</div>
            </div>
          </div>
          <div
            style="width: 44px; height: 44px; padding: 5.50px; background: white; border-radius: 4px; overflow: hidden; border: 1px #DFE3E8 solid; justify-content: center; align-items: center; display: flex">
            <div
              style="flex: 1 1 0; align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
              <div
                style="width: 33px; height: 33px; transform: rotate(180deg); transform-origin: 0 0; justify-content: center; align-items: center; display: inline-flex">
                <div
                  style="width: 33px; height: 33px; position: relative; transform: rotate(90deg); transform-origin: 0 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                  <div style="width: 16.50px; height: 10.19px; background: #C4CDD5"></div>
                </div>
              </div>
            </div>
    </div>


  </main>


  <!--FOOTER-->
  <footer class="footer">
    <nav class="navbar container">
      <ul class="navbar__item">
        <li class="navbar__item">
          <a class="navbar__link" href="shop.html">SHOP</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="register.html">REGISTRARSE</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="login.html">LOGIN</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="contact.html">CONTACTO</a>
        </li>
      </ul>
      <picture>
        <img src="../images/branding/isotype.svg" alt="isotipo de Funkoshop" />
      </picture>
    </nav>

    <p class="footer__copy">All Rights Reserved 2023 - Funkoshop &copy;</p>
  
  </footer>
  
  <!--FIN FOOTER-->
</body>

</html>