<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop | Funkoshop</title>

    <link rel="stylesheet" href="../css/header-footer.css" />
    <link rel="stylesheet" href="../css/shop2.css" />
   
   
   
  </head>
  <body>
    <header>
      <!-- Inicio Header -->

      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="/" alt="logo">
            <img src="../images/branding/logo_light_horizontal.svg" alt="" />
          </a>
        </picture>
        <ul class="navbar__menu">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="/shop2"
              >SHOP<iconify-icon
                class="icon-header"
                icon="tabler:chevron-down"
              ></iconify-icon
            ></a>

            <ul class="submenu">
              <li class="submenu__item">
                <a href="" class="submenu__link">Funkos</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Remeras</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Llaveros</a>
              </li>
            </ul>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/contact">CONTACTO</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/login">LOGIN</a>
          </li>
          <li class="navbar__item">
            <a href="/cart">
              <img src="../images/icons/cart-icon.svg" alt="icono de carrito" />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!--   Fin Header -->

    <main id="shop" class="container">
      <aside class="shop__filters filters">
        <div class="filters__search">
          <label class="filters__title" for="search">BUSCAR</label>
          <input
            type="text"
            name="search"
            id="search"
            placeholder="item o categoría"
          />
        </div>
        <div class="filters__order">
          <label class="filters__title" for="orderby">ORDERNAR POR</label>
          <select name="orderby" id="orderby">
            <option value="az">A-Z</option>
            <option value="za">Z-A</option>
            <option value="desc">Mayor precio</option>
            <option value="asc">Menor precio</option>
          </select>
        </div>
        <div class="filters__price">
          <span class="filters__title">PRECIO</span>
          <div>
            <label for="min">MIN</label>
            <input type="text" name="min" id="min" placeholder="0" />
            <label for="max">- MAX</label>
            <input type="text" name="max" id="max" placeholder="0" />
          </div>
        </div>
        <div class="filters__checks">
          <span class="filters__title" for="filter">FILTRAR</span>
          <div>
            <input type="checkbox" name="filter" id="news" value="news" />
            <label for="">NUEVOS</label>
          </div>
          <div>
            <input type="checkbox" name="filter" id="offers" value="offers" />
            <label for="">OFERTAS</label>
          </div>
          <div>
            <input
              type="checkbox"
              name="filter"
              id="specials"
              value="specials"
            />
            <label for="">EDICIÓN ESPECIAL</label>
          </div>
          <div>
            <input type="checkbox" name="filter" id="favs" value="favs" />
            <label for="">FAVORITOS</label>
          </div>
        </div>
      </aside>
      <section class="shop__content">
        <ul class="shop__items">
          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/1">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/star-wars/trooper-1.webp"
                    alt="imagen trooper-1"
                  />
                  <img class="card-item__img--back"  src="../../images/star-wars/trooper-box.webp"
                  alt="trooper en caja"/>
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">STAR WARS</h4>
                  <h3 class="card-item__name">STORMTROOPER LIGHTSABER</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/2">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/pokemon/pidgeotto-1.webp"
                  />
                  <img class="card-item__img--back"  src="../../images/pokemon/pidgeotto-box.webp"
                  alt="imagen pidgeotto-1"/>
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">POKEMON</h4>
                  <h3 class="card-item__name">PIDGEOTTO</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/3">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/harry-potter/luna-1.webp"
                    alt="luna-1"
                  />
                  <img
                    class="card-item__img--back"
                    src="../../images/harry-potter/luna-box.webp"
                    alt="harry potter-1 en caja"
                  />
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">HARRY POTTER</h4>
                  <h3 class="card-item__name">LUNA LOVEGOOD LION MASK</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/4">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/pokemon/pidgeotto-1.webp"
                    alt="imagen pidgeotto-1"
                  />
                  <img class="card-item__img--back"  src="../../images/pokemon/pidgeotto-box.webp"
                  alt="imagen pidgeotto-1" />
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">POKEMON</h4>
                  <h3 class="card-item__name">PIDGEOTTO</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/5">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/harry-potter/luna-1.webp"
                    alt="luna-1"
                  />
                  <img
                    class="card-item__img--back"
                    src="../../images/harry-potter/luna-box.webp"
                    alt="luna-1 en caja"
                  />
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">HARRY POTTER</h4>
                  <h3 class="card-item__name">LUNA LOVEGOOD LION MASK</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/6">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/star-wars/trooper-1.webp"
                    alt="imagen trooper-1"
                  />
                  <img class="card-item__img--back" src="../../images/star-wars/trooper-box.webp"
                  alt="trooper en caja"/> />
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">STAR WARS</h4>
                  <h3 class="card-item__name">STORMTROOPER LIGHTSABER</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/7">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/pokemon/pidgeotto-1.webp"
                  />
                  <img class="card-item__img--back"  src="../../images/pokemon/pidgeotto-box.webp"
                  alt="imagen pidgeotto-1" />
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">POKEMON</h4>
                  <h3 class="card-item__name">PIDGEOTTO</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/8">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/harry-potter/luna-1.webp"
                    alt="luna-1"
                  />
                  <img
                    class="card-item__img--back"
                    src="../../images/harry-potter/harry-box.webp"
                    alt="harry potter-1 en caja"
                  />
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">HARRY POTTER</h4>
                  <h3 class="card-item__name">LUNA LOVEGOOD LION MASK</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/9">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/star-wars/trooper-1.webp"
                    alt="imagen trooper-1"
                  />
                  <img class="card-item__img--back"  src="../../images/star-wars/trooper-box.webp"
                  alt="trooper en caja"/>/>
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">STAR WARS</h4>
                  <h3 class="card-item__name">STORMTROOPER LIGHTSABER</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/10">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/harry-potter/luna-1.webp"
                    alt="luna-1"
                  />
                  <img
                    class="card-item__img--back"
                    src="../../images/harry-potter/harry-box.webp"
                    alt="harry potter-1 en caja"
                  />
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">HARRY POTTER</h4>
                  <h3 class="card-item__name">LUNA LOVEGOOD LION MASK</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop2/item/11">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/star-wars/trooper-1.webp"
                    alt="imagen trooper-1"
                  />
                  <img class="card-item__img--back" src="../../images/star-wars/trooper-box.webp"
                  alt="trooper en caja"/> />
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">STAR WARS</h4>
                  <h3 class="card-item__name">STORMTROOPER LIGHTSABER</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>

          <li class="shop__item">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/12">
                <picture class="card-item__cover">
                  <span class="card-item__tag">Nuevo</span>
                  <img
                    class="card-item__img--front"
                    src="../../images/pokemon/pidgeotto-1.webp"
                  />
                  <img class="card-item__img--back"  src="../../images/pokemon/pidgeotto-box.webp"
                  alt="imagen pidgeotto-1" />
                </picture>
                <div class="card-item__content">
                  <h4 class="card-item__licence">POKEMON</h4>
                  <h3 class="card-item__name">PIDGEOTTO</h3>
                  <p class="card-item__price">$1799,99</p>
                  <p class="card-item__promo">3 Cuotas sin interés</p>
                </div>
              </a>
            </article>
          </li>
        </ul>
        <div class="pagination">
          <a class="pagination__link" href="#"></a>
          <a class="pagination__link pagination__link--selected" href="#">1</a>
          <a class="pagination__link" href="#">2</a>
          <a class="pagination__link" href="#">3</a>
          <a class="pagination__link" href="#">4</a>
          <a class="pagination__link" href="#">5</a>
          <a class="pagination__link" href="#">></a>
        </div>
      </section>
    </main>
    <footer class="footer">
      <nav class="navbar container">
        <ul class="navbar__item">
          <li class="navbar__item">
            <a class="navbar__link" href="/shop2">SHOP</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/register">REGISTRARSE</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/login">LOGIN</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/contact">CONTACTO</a>
          </li>
        </ul>
        <picture>
          <img
            src="../images/branding/isotype.svg"
            alt="isotipo de Funkoshop"
          />
        </picture>
      </nav>

      <p class="footer__copy">All Rights Reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

   
  </body>
</html>