<nav class="navbar container">
    <ul class="navbar__item">
        <li class="navbar__item">
            <a class="navbar__link" href="/">LOGOUT</a>
        </li>
    </ul>
    <picture>
      <img src="./images/branding/isotype.svg" alt="isotipo de Funkoshop" />
    </picture>
  </nav>

  <p class="footer__copy">All Rights Reserved 2023 - Funkoshop &copy;</p>