<nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/" alt="logo">
        <img src="./images/branding/logo_light_horizontal.svg" onerror="this.src='./images/branding/isotype.svg'" />
      </a>
    </picture>
    <ul class="navbar__menu">
      
     
      <li class="navbar__item">
        <a class="navbar__link" href="/">LOGOUT</a>
      </li>
     
    </ul>
  </nav>