
<script defer src="/js/index.js"></script>

<nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/" alt="logo">
        <img src="./images/branding/logo_light_horizontal.svg" onerror="this.src='./images/branding/isotype.svg'" />
      </a>
    </picture>
    <ul class="navbar__menu">
      <li class="navbar__item with-submenu">
        <a class="navbar__link with-icon" href="/shop2"
          >SHOP<iconify-icon  class="icon-header" icon="tabler:chevron-down"></iconify-icon
        ></a>

        <ul class="submenu">
          <li class="submenu__item">
            <a href="" class="submenu__link">Funkos</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Remeras</a>
          </li>
          <li class="submenu__item">
            <a href="" class="submenu__link">Llaveros</a>
          </li>
        </ul>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/contact"  id="contact">CONTACTO</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/login" id="login">LOGIN</a>
      </li>
      <li class="navbar__item">
        <a  class="navbar__link"    href="/cart" id="carrito">
          <img src="./images/icons/cart-icon.svg" alt="icono de carrito" />
        </a>
      </li>
    </ul>
  </nav>

  
